@media (max-width: 375px) {
    .header-top {
        min-height: 735px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 200%), url(img/top-mobile.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        &__title {
            max-width: 343px;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            color: #FFFFFF;
            padding-top: 238px;
        }

        &__text {
            max-width: 343px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 32px;
        }

        &__button {
            max-width: 234px;
            margin-left: 54px;
            background: #9C0332;
            border-radius: 30px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }

    .links__item {
        width: 343px;        
    }
}