* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000915;
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header-top {
  min-height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 200%), url(img/top.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.header-top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 217px;
  padding-bottom: 32px;
}
.header-top__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  max-width: 481px;
  color: #FFFFFF;
  padding-bottom: 44px;
}
.header-top__button {
  background: #9C0332;
  border-radius: 30px;
  border: none;
  padding: 13px 74px 13px 74px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.5s;
}
.header-top__button:hover {
  cursor: url(img/cursor.svg), pointer;
  transform: scale(1.03);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
  margin-top: 128px;
  margin-bottom: 128px;
}
.links__content {
  max-height: 305px;
  position: relative;
}
.links__item {
  width: 378px;
  height: 300px;
  font-size: 24px;
  border-radius: 18px;
  transition: all 0.2s;
}
.links__item:hover {
  cursor: url(img/cursor.svg), pointer;
  border: 3px solid #44D2FF;
  border-radius: 18px;
}
.links__text {
  position: absolute;
  left: 32px;
  bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.game {
  display: flex;
  align-items: center;
  gap: 135px;
  padding-top: 233px;
  padding-bottom: 233px;
}

.game-slova {
  flex-direction: row-reverse;
}

.game-content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  padding-bottom: 32px;
}
.game-content__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 32px;
}
.game-content__button {
  background: #9C0332;
  border-radius: 30px;
  border: none;
  padding: 13px 74px 13px 74px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.5s;
}
.game-content__button:hover {
  cursor: url(img/cursor.svg), pointer;
  transform: scale(1.03);
}

footer {
  min-height: 800px;
  background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/footer.jpg), #000915;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 276px;
  padding-bottom: 287px;
}
.footer-content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
}
.footer-content__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
.footer-content__button {
  background: #9C0332;
  border-radius: 30px;
  border: none;
  padding: 13px 74px 13px 74px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.5s;
}
.footer-content__button:hover {
  cursor: url(img/cursor.svg), pointer;
  transform: scale(1.03);
}

.footer-bottom {
  border-top: 1px solid rgba(184, 212, 255, 0.2);
}
.footer-bottom__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 1230px) {
  .header-top {
    padding-left: 16px;
  }
  .links {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 374px) and (max-width: 768px) {
  .center {
    padding-left: calc(50% - 171px);
    padding-right: calc(50% - 171px);
  }
  .header-top {
    min-height: 735px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 200%), url(img/top-mobile.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header-top__title {
    max-width: 343px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 238px;
  }
  .header-top__text {
    max-width: 343px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 32px;
  }
  .header-top__button {
    max-width: 234px;
    margin-left: 54px;
    background: #9C0332;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .links__item {
    width: 343px;
  }
  .game {
    flex-direction: column;
    gap: 64px;
    padding-top: 0;
    padding-bottom: 136px;
  }
  .game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game-content__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
  }
  .game-content__text {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .game-content__button {
    background: #9C0332;
    border-radius: 30px;
    border: none;
    padding: 13px 90px 13px 74px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .game__img {
    width: 344px;
    height: 236px;
  }
  .footer {
    background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 50%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/footer-mobile.jpg), #000915;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .footer-content__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
  }
  .footer-content__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
  }
}/*# sourceMappingURL=style.css.map */