* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #000915;
    cursor: pointer;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header-top {
    min-height: 1024px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 200%), url(img/top.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 217px;
        padding-bottom: 32px;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        max-width: 481px;
        color: #FFFFFF;
        padding-bottom: 44px;
    }

    &__button {
        background: #9C0332;
        border-radius: 30px;
        border: none;
        padding: 13px 74px 13px 74px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        transition: all 0.5s;

        &:hover {
            cursor: url(img/cursor.svg), pointer;
            transform: scale(1.03);
        }
    }
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 32px;
    margin-top: 128px;
    margin-bottom: 128px;


    &__content {
        max-height: 305px;
        position: relative;
    }

    &__item {
        width: 378px;
        height: 300px;
        font-size: 24px;
        border-radius: 18px;
        transition: all 0.2s;

        &:hover {
            cursor: url(img/cursor.svg), pointer;
            border: 3px solid #44D2FF;
            border-radius: 18px;
        }
    }

    &__text {
        position: absolute;
        left: 32px;
        bottom: 32px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }
}

.game {
    display: flex;
    align-items: center;
    gap: 135px;
    padding-top: 233px;
    padding-bottom: 233px;
    // justify-content: center;    
}

.game-slova {
    //     // display: flex;
    //     // align-items: center;
    flex-direction: row-reverse;
    //     // gap: 135px;
}

.game-content {

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
        padding-bottom: 32px;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 32px;
    }

    &__button {
        background: #9C0332;
        border-radius: 30px;
        border: none;
        padding: 13px 74px 13px 74px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        transition: all 0.5s;

        &:hover {
            cursor: url(img/cursor.svg), pointer;
            transform: scale(1.03);
        }
    }
}

footer {
    min-height: 800px;
    background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/footer.jpg), #000915;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 276px;
    padding-bottom: 287px;


    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
    }

    &__button {
        background: #9C0332;
        border-radius: 30px;
        border: none;
        padding: 13px 74px 13px 74px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        transition: all 0.5s;

        &:hover {
            cursor: url(img/cursor.svg), pointer;
            transform: scale(1.03);
        }
    }
}

.footer-bottom {
    border-top: 1px solid rgba(184, 212, 255, 0.2);

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@import 'tablet';
@import 'mobile';